inventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root element -->
    <xs:element name="record">
        <xs:complexType>
                <!-- int field -->
                <xs:element name="id" type="xs:int"/>
                
                <!-- string field -->
                <xs:element name="name" type="xs:string"/>
                
                <!-- double field -->
                <xs:element name="price" type="xs:double"/>

                <!-- nested element -->
                <xs:element name="details">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="category" type="xs:string"/>
                            <xs:element name="quantity" type="xs:int"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
        </xs:complexType>
    </xs:element>

</xs:schema>
